{% extends 'polls/base.html' %}
{% load static %}
{% block title %}Создание ответа{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'polls/new_answ.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<div class="creater">
    <h1 align="center">Введите сюда ответ на выбранный вопрос</h1>
    <div hidden id="quest_id">{{ quest.id }}</div>
    <div hidden id="user_id">{{ user }}</div>
    <form action="" method="post" class="">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Отправить" class="button" title="Ввод ответа">
    </form>
</div>
<div class="dot">
    <button type="button" class="btn btn-outline-dark"><a href="{% url 'questions' %}">Назад</a></button>
    <button type="button" class="btn btn-outline-dark"><a href="{% url 'header' %}">На главную</a></button>
</div>
{% endblock %}