<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="polls/snake.png">
    <title>Новая страница</title>
</head>
<body>
    <header>
        <span>
            <div align="center">
                <a href="new_file.html/">Главная</a>
                <a href="new_file.html/">О нас</a>
            </div>
        </span>
    </header>
    <main>
        <section class="articles">
            <h1>Статьи</h1>
            <article width="150px">
                <h2>Статья про HTML</h2>
            </article>
        </section>
    </main>
</body>
</html>