{% extends 'polls/base.html' %}
{% load static %}
{% block title %}Questions{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'polls/questions.css' %}"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<div class="container">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th align="center"><h1 align="center">Questions</h1></th>
                <th align="center"><h1 align="center">Questions text</h1></th>
                <th align="center"><h1 align="center">Дата создания</h1></th>
            </tr>
        </thead>
        <tbody>
            {% for i in questions %}
            <tr>
                <td align="center"><h5>Question {{ forloop.counter }}</h5></td>
                <td align="center"><h4>{{ i }}</h4></td>
                <td align="center"><h5>{{ i.pubdate.date }}</h5></td>
                <td bordercolor="silver" align="center" class="none-border"><a href='../blog/questions/{{ i.id }}' class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
</a></td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="but">
    <a href="../blog/answers" class="btn btn-success">Answers</a>
    <a href="../blog/" class="btn btn-success">Main</a>
</div>
{% endblock %}